.login-label {
   height: 15%;
   width:50% ;
   

}


.login-form{
    width: 50%;
    border: #8A1538 solid 3px;
    border-top: 0;
}

#btn-login{
    background-color: #8A1538;
    border: 0;
}

.parent {
    
    display: table;
    text-align: center;
}
.parent > .child {
    background-color: #8A1538 ;
    vertical-align: middle;

    color:#FFFFFF;
    text-align: center;
}

.form-section-active{
    color :#8A1538 !important;
    border-bottom: #8A1538 solid 3px !important;
}

.option-login {
    width: 50%;
    color :#DDDDDE ;
    font-size: large;
    font-weight: bold;
    border-bottom: #DDDDDE  solid 3px;
    
}
.border-login{
    border-left: #8A1538 solid 3px;
    border-right: 0;
    border-top: 0;
    cursor: pointer;
}
.border-signup{
    border-left: 0;
    border-top: 0;
    border-right: #8A1538 solid 3px;
}
.option-signup {
    color: #DDDDDE ;
    width: 50%;
    border-bottom: #DDDDDE    solid 3px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    
}

.login-form label {
    font-weight: 500;
    float: left;
    align-self: start;
}

.login-form input, label {
    
    margin-bottom: 10px;
}


.login-form input{
    border: solid black 2px !important;
}